# Python + Jupyter
*.py    linguist-detectable=true linguist-language=Python
.ipynb linguist-detectable=true linguist-language=Jupyter\ Notebook
*.csv  linguist-detectable=true linguist-language=CSV

*.tsv     linguist-detectable=false
*.xls     linguist-detectable=false
*.xlsx    linguist-detectable=false
*.parquet linguist-detectable=false
*.json    linguist-detectable=false
